<!DOCTYPE html>
<html>
<head>
	<title>TurismoQro</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../public/css/agregar.css">
	<script src="../public/js/agregar.js"></script>
</head>
<body>

	<img src="../public/img/fondo2.jpg" class="fondo">
	<div class="fondo2"></div>

	<nav>
		<div onclick="cambio('main.html')" class="back">
			<img src="../public/img/back.png">
		</div>
		<h2>Menu Agregar</h2>
	</nav>

	<div class="contenedor">

		<div id="mapa"></div>

		<div class="ficha">
			<input type="text" placeholder="Nombre del Lugar" id="nombre"><br>
			<input type="text" placeholder="¿Qué tipo de lugar es?" id="categoria"><br>
			<textarea placeholder="¿Qué hay en este lugar?" id="descripcion"></textarea><br>
			<textarea placeholder="Comentario" id="comentario"></textarea><br>
			<input type="number" min="0" max="10" placeholder="Calificacion" id="calificacion"><br>
			<button onclick="guardarLugar()">Agregar</button>
		</div>
		
	</div>

</body>
<script>

      function initMap() {
        var miLugar = {'lat': latitud, 'lng': longitud};
        var miMapa = new google.maps.Map(document.getElementById('mapa'), {
          zoom: 18,
          streetViewControl:false,
          fullscreenControl: false,
          mapTypeControl: false,
          zoomControl:false,
          center: miLugar
        });
        var miMarcador = new google.maps.Marker({
          position: miLugar,
          draggable: true,
          animation: google.maps.Animation.DROP,
          map: miMapa
        });
      }
    </script>

	<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWipZBYI_as9dXkwMFzCA9QDFJif-IoRw&callback=initMap">
    </script>
</html>