<!DOCTYPE html>
<html>
<head>
	<title>TurismoQro</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../public/css/agregar.css">
	<script src="../public/js/agregar.js"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCv6Pk_K6UZzE8AkJRsan-flQulHnSz6KY&callback=initMap"></script>
	<script type="text/javascript">
		function initMap(){
	        navigator.geolocation.getCurrentPosition(
		        function (position){
		            coords =  {
		            	lng: position.coords.longitude,
		            	lat: position.coords.latitude
		            };
		            setMapa(coords);
		        });
		}

		function setMapa (coords){
		    var miMapa = new google.maps.Map(document.getElementById('mapa'),{
		        zoom: 18,
			    fullscreenControl: false,
			    mapTypeControl: false,
			    zoomControl:false,
		        center:new google.maps.LatLng(coords.lat,coords.lng)
		    });

		    var miMarcador = new google.maps.Marker({
			  position: new google.maps.LatLng(coords.lat,coords.lng),
			  draggable: true,
			  animation: google.maps.Animation.DROP,
			  map: miMapa
			});
		}
	</script>
</head>
<body>

	<img src="../public/img/fondo2.jpg" class="fondo">
	<div class="fondo2"></div>

	<nav>
		<div onclick="cambio('main.html')" class="back">
			<img src="../public/img/back.png">
		</div>
		<h2>Menu Agregar</h2>
	</nav>

	<div class="contenedor">

		<div class="ficha">
			<input type="text" placeholder="Nombre del Lugar" id="nombre"><br>
			<select id="categoria">
				<option></option>
				<option>Puntos de interes</option>
				<option>Artesanias</option>
				<option>Dulces tipicos</option>
				<option>Restaurantes</option>	
				<option>Hospedaje</option>
			</select>
			<textarea placeholder="¿Qué hay en este lugar?" id="descripcion"></textarea><br>
			<textarea placeholder="Comentario" id="comentario"></textarea><br>
			<input type="number" min="0" max="10" placeholder="Calificacion" id="calificacion"><br>
			<button onclick="guardarLugar()">Agregar</button>
		</div>	
	</div>
</body>
</html>