<!DOCTYPE html>
<html>
<head>
	<title>TurismoQro</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../public/css/buscar2.css">
	<script src="../public/js/buscar2.js"></script>
</head>
<body onload="cargarDatos()">

	<img src="../public/img/fondo2.jpg" class="fondo">
	<div class="fondo2"></div>

	<nav>
		<div onclick="cambio('buscar.html')" class="back">
			<img src="../public/img/algo.jpg">
		</div>
		<h2 id="opcion"></h2>
	</nav>

	<div class="contenedor">
		<div class="buscador">
			<input type="text" name="" placeholder="¿Qué lugar desea buscar?">
		</div>

		<div class="lugar">
			<h2>Nombre lugar</h2>
			<h3>8.4</h3>
			<img src="" class="opcion">
			<img src="" class="opcion">
			<img src="" class="opcion">

		</div>
	</div>

</body>
</html>