<!DOCTYPE html>
<html>
<head>
	<title>TurismoQro</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../public/css/favoritos2.css">
	<script src="../public/js/favoritos2.js"></script>
</head>
<body onload="cargarDatos()">

	<img src="../public/img/fondo2.jpg" class="fondo">
	<div class="fondo2"></div>

	<nav>
		<div onclick="cambio('favoritos.html')" class="back">
			<img src="../public/img/back.png">
		</div>
		<h2 id="opcion"></h2>
	</nav>

	<div class="contenedor">
		<div class="lugar">
			<h2>Nombre lugar</h2>
			<h3>8.4</h3>
			<div class="opcion">
				<h3>Comentar</h3>
			</div>
			<div class="opcion">
				<h3>fav</h3>
			</div>
			<div class="opcion">
				<h3>Ver mas</h3>
			</div>
		</div>
	</div>

</body>
</html>