<!DOCTYPE html>
<html>
<head>
	<title>TurismoQro</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../public/css/index.css">
	<script src="../public/js/index.js"></script>
	<meta name="viewport">
</head>
<body>
	<div class="contenedor">
		<img src="../public/img/fondo2.jpg" class="fondo">
		<div class="fondo2"></div>

		<nav>
			<img src="../public/img/logo.png" alt="" onclick="cambio('usuario.html')">
			<h2 onclick="cambio('usuario.html')">Imagen y nombre de usuario</h2>
		</nav>

		<div class="izq">
			<div class="cont-izq" onclick="cambio('buscar.html')">
				
				<img src="../public/img/buscar.png" alt="">
			</div>
			<div class="cont-izq" onclick="cambio('recomendados.html')">

				<img src="../public/img/recomendados.png" alt="">
			</div>
		</div>
		<div class="der">
			<div class="cont-der" onclick="cambio('favoritos.html')">
				<img src="../public/img/favoritos.png" alt="">
			</div>
			<div class="cont-der" onclick="cambio('agregar.html')">
				<img src="../public/img/agregar.png" alt="">
			</div>
		</div>
	</div>

</body>

<script type="text/javascript">
	function alerta(){
		alert("En proceso");
	}
</script>
</html>