<!DOCTYPE html>
<html>
<head>
	<title>TurismoQro</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../public/css/usuario.css">
	<script src="../public/js/usuario.js"></script>
</head>
<body>

	<img src="../public/img/fondo2.jpg" class="fondo">
	<div class="fondo2"></div>

	<nav>
		<div onclick="cambio('main.html')" class="back">
			<img src="../public/img/back.png" class="imgBack">
		</div>
		<h2>Menu Usuario</h2>
	</nav>

	<div class="contenedor">
		<div class="opciones" id="eliminar" style="background-color: #ED4C67;" onclick="">
			<h1>Eliminar Cuenta</h1>
		</div>
		<div class="opciones" id="cerrar" style="background-color: #ffa502;" onclick="">
			<h1>Cerrar Sesion</h1>
		</div>
	</div>

</body>
</html>