:root{
	--verde: #badc58;
	--naranja: #ffa502;
}

*{
	margin: 0;
	padding: 0;
	overflow-y: hidden;
}

.fondo{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -60;
}

.fondo2{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -50;
	background-color: gray;
	opacity: .2;
}

nav{
	margin-top: 30px;
	left: 0;
	width: 100%;
	height: 400px;
	text-align: center;
}
	nav>img{
		margin-top: 10px;
		width: 250px;
		height: 250px;
		background-color: white;
		border-radius: 50%;
	}

.izq{
	margin-top: 50px;
	width: 50%;
	height: 1500px;
	float: left;
}
	.cont-izq{
		margin-top: 15%;
		margin-left: 5%;
		width: 90%;
		height: 400px;
		background-color: var(--verde);
		
	}

.der{
	margin-top: 50px;
	width: 50%;
	height: 1500px;
	float: right;
}
	.cont-der{
		margin-top: 15%;
		margin-left: 5%;
		width: 90%;
		height: 400px;
		background-color: var(--verde);
		
	}

h1{
	font-size: 68px;
	background-color: transparent;
	color: #FFF;
}

h2{
	font-size: 60px;
	background-color: var(--naranja);
	color: #FFF;

}
