:root{
	--verde: #badc58;
	--naranja: #ffa502;
}

*{
	margin: 0;
	padding: 0;
}

.fondo{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -60;
}

.fondo2{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -50;
	background-color: gray;
	opacity: .2;
}

nav{
	margin-top: 0px;
	left: 0;
	width: 100%;
	height: 120px;
	text-align: center;
	background-color: var(--naranja);

	position: fixed;
}
	.back{
		margin-top: 0px;
		margin-left: 0px;
		width: 120px;
		height: 100%;
		float: left;
	}
	.back>img{
		margin-top: 0;
		margin-left: 0;
		width: 100%;
		height: 100%;
		float: left;
	}
	nav>h2{
		margin-left: 120px;
		width: calc(100% - 240px);
		line-height: 120px;
	}

.contenedor{
	margin-top: 180px;
	margin-left: 10%;
	width: 80%;
	height: calc(100% - 120px);
	float: left;
}
	.lugar{
		margin-top: 10%;
		margin-left: 5%;
		width: 90%;
		height: 230px;
		border-radius: 10px;
		background-color: var(--verde);
	}
		.lugar>h2{
			margin-left: 30px;
			color: black;
			background-color: transparent;
		}
		.lugar>h3{
			margin-left: 30px;
			font-size: 48px;
		}
		.opcion{
			background-color: #fff;
			margin-top: 10px;
			margin-left: 12%;
			width: 15%;
			height: 60px;
			float: left;
		}


h1{
	font-size: 68px;
	background-color: transparent;
	color: #FFF;
}

h2{
	font-size: 60px;
	background-color: var(--naranja);
	color: #FFF;

}
